.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 320px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 8px 12px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.search-icon {
    margin-right: 8px;
}

.icon {
    height: 24px;
    width: 24px;
    color: #9ca3af;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6b7280;
    font-size: 16px;
}

.search-input::placeholder {
    color: #9ca3af;
}