.pokemon-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breadcrumb {
    font-size: 14px;
    text-align: left;
    align-self: flex-start;
    margin-left: 2%;
}

.pokemon-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.pokemon-image-detail img {
    width: 300px;
    height: 300px;
}

.pokemon-info {
    max-width: 400px;
    text-align: left;
}

.header {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
}

.favorite {
    font-size: 36px;
    color: red;
    cursor: pointer;
}

.abilities {
    margin-top: 10px;
}

.abilities h2 {
    font-size: 20px;
    font-weight: bold;
}

.details p {
    margin: 5px 0;
}

.details strong {
    font-size: 18px;
}

.pokemon-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-name-detail {
    font-size: 30px;

}

@media (max-width: 768px) {
    .pokemon-detail {
        flex-direction: column;
    }

    .pokemon-image-detail {
        border: 1px solid #e1e1e1;
        margin-top: 13px;
    }

}

@media (max-width: 480px) {
    .pokemon-detail {
        flex-direction: column;
    }

    .pokemon-image-detail {
        border: 1px solid #e1e1e1;
        margin-top: 13px;
    }
}

.detail-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 10px;
}

.detail-list-item strong {
    margin-right: 10px;
}